* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.item1 {
    height: 500px;
    width: 500px;
    background-color: white;
    border: 3px solid black;

}

.item2 {
    height: 150px;
    width: 150px;
    background-color: green;
    border: 3px solid black;
    margin: 10px;
    padding: 35px;
}

.item3 {
    height: 140px;
    width: 140px;
    background-color: orange;
    border: 3px solid black;
    margin: 0px;
    margin-left: 175px;
    padding: 5px;
}

.item4 {
    height: 140px;
    width: 140px;
    background-color: blue;
    border: 3px solid black;
    margin: 15px;
    margin-left: 330px;
    margin-bottom: 5px;
    padding: 3px;
}

.item5 {
    height: 30px;
    width: 30px;
    background-color: orange;
    border: 3px solid black;

}

.item6 {
    height: 30px;
    width: 30px;
    background-color: blue;
    border: 3px solid black;
    margin-left: 50px;
    margin-bottom: 20px;
}

.item7 {
    height: 30px;
    width: 30px;
    background-color: green;
    border: 3px solid black;
    margin-left: 2px;
    margin-top: 97px;
}